/* ============================ Account Css Start ========================= */
.account-img {
    @media (min-width: 992px) {
        position: relative;
        left: 13%;
    }
}
/* ============================ Account Css End ========================= */